<!-- pager -->
<ul data-ng-if="paginationData.numPages >= 2" class="pagination">
    <li ng-class="{disabled: paginationData.currentPage === 1}">
        <a ng-click="setPage(paginationData.currentPage - 1)">Previous</a>
    </li>
    <li ng-repeat="page in paginationData.pages" ng-class="{active: paginationData.currentPage === page}">
        <a ng-click="setPage(page)">{{ page }}</a>
    </li>
    <li ng-class="{disabled: paginationData.currentPage === paginationData.numPages}">
        <a ng-click="setPage(paginationData.currentPage + 1)">Next</a>
    </li>
</ul>
<div class="form-inline" style="float:right;margin-top:20px;">
    <label>Per Page: </label>
    <select class="form-control" data-ng-model="paginationData.perPage">
        <option data-ng-repeat="page in paginationData.perPageOptions" value="{{ page }}">{{page}}</option>
    </select>

    <span data-ng-if="allDataLength >= paginationData.perPageOptions[0]">
        <span>of</span>
        {{ allDataLength }}
    </span>
</div>