<form class="form-inline" style="float:right;margin-bottom:20px;">
    <lable>Alert when price below: </lable>
    <input class="form-control mr-sm-2" type="number" data-ng-model="currency" placeholder="Search" aria-label="Search">
</form>
<table class="table table-striped dataTable" data-ng-if="allData.length > 0">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" class="pointer-cursor" data-ng-click="orderFnc('timestamp')">
            <span data-ng-if="orderParams.field === 'timestamp'" class="glyphicon glyphicon-chevron-{{ (orderParams.direction) ? 'up' : 'down' }}"></span>
            DateTime
        </th>
        <th scope="col" class="pointer-cursor" data-ng-click="orderFnc('price')">
            <span data-ng-if="orderParams.field === 'price'" class="glyphicon glyphicon-chevron-{{ (orderParams.direction) ? 'up' : 'down' }}"></span>
            Price
        </th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in allDataFinal | orderBy : orderParams.field : orderParams.direction | limitTo: pagination.perPage">
            <th scope="row">{{ $index + pagination.begin + 1 }}</th>
            <td>
                <div data-ng-if="!item.isEdit">{{ item.timestamp * 1000 | date:'yyyy-MM-dd HH:mm' }}</div>
                <div data-ng-if="item.isEdit">
                    <input class="form-control" type="text" data-ng-model="item.timestamp" />
                </div>
            </td>
            <td>
                <div data-ng-if="!item.isEdit">{{ item.ticker.price | number : 2 }}</div>
                <div data-ng-if="item.isEdit">
                    <input class="form-control" type="text" data-ng-model="item.ticker.price" />
                </div>
            </td>
            <td>
                <div data-ng-init="item.isEdit = false" data-ng-if="!item.isEdit">
                    <button class="btn btn-sm btn-default" data-ng-click="item.isEdit = true">Edit</button>
                    <button class="btn btn-sm btn-danger" data-ng-click="deleteItem($index + pagination.begin)">Delete</button>
                </div>
                <div data-ng-if="item.isEdit">
                    <button class="btn btn-sm btn-success" data-ng-click="saveItem($index + pagination.begin)">Save</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div data-pagination pagination-data="pagination" all-data-length="allData.length"></div>